<div class="container mt-5" id="Tecnologia">
  <div class="text-center">
    <h1>Tecnologías que interesan y que usamos para mejorar tu empresa</h1>
  </div>
  <div class="row row-cols-3 row-cols-lg-4">
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/puntonet.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/sqlserve.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/azure.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/telerik.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/angular.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/typescript.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/node.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/figma.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/redis.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/mongodb.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/mysql.jpg"
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/flutter.jpg"
      />
    </div>
  </div>
</div>
