<div class="container mt-5" id="Tecnologia">
  <div class="text-center">
    <h2 class="fw-bold">
      TECNOLOGÍAS QUE INTERESAN Y QUE USAMOS PARA MEJORAR TU EMPRESA
    </h2>
  </div>
  <div class="row row-cols-3 row-cols-lg-4">
    <div class="tecnologies-images p-5">
      <img
        class="img-tec"
        src="../../../../assets/images/tecnology/puntonet.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-tec"
        src="../../../../assets/images/tecnology/sqlserve.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-tec"
        src="../../../../assets/images/tecnology/azure.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-tec"
        src="../../../../assets/images/tecnology/telerik.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/angular.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/typescript.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/node.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/figma.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/redis.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/mongodb.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/mysql.webp"
        alt=".."
      />
    </div>
    <div class="tecnologies-images p-5">
      <img
        class="img-fluid"
        src="../../../../assets/images/tecnology/flutter.webp"
        alt=".."
      />
    </div>
  </div>
</div>
