.tecnology-container{
    width: 100%;
    height: 68vh;
}

.tecnology-title{
    width: 85%;
    height: 15vh;
    margin: 4vh 7.5% 1vh 7.5%;
    text-align: center;
}

.tecnology-title h1{
    font-size: 2.5em;

    align-content: center;
    margin: 0%;
    padding: 3%;
    
}

.tecnologies{
    width: 100%;
    height: 45vh;
    margin: 0vh 0% 3vh 0%;
    display: flex;
    flex-direction: column;
}

.tecnologies-container{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tecnologies-images{
    width: 20%;
    height: 16vh;
    display: flex;
    justify-content: center;
}

.tecnologies-images img{

    margin: 2vh 10% 2vh 10%;
}
/* 
@media screen and (max-width: 1000px){
    .tecnology-title h1{
        font-size: 2em;
        margin: 0%;
        padding: 0%;
    }
}

@media screen and (max-width: 800px){
    .tecnology-title h1{
        font-size: 1.8em;
    
        margin: 0%;
        padding: 0%;
    }
}

@media screen and (max-width: 600px){
    .tecnology-title{
        width: 95%;
        height: 12vh;
        margin: 2vh 2.5% 1vh 2.5%;
        text-align: center;
    }

    .tecnology-title h1{
        font-size: 1.5em;
    
        margin: 0%;
        padding: 0%;
    }
}

@media screen and (max-width: 450px){
    .tecnology-container{   
        width: 100%;
        height: 60vh;
    }

    .tecnology-title{
        width: 95%;
        height: 8vh;
        margin: 1vh 2.5% 1vh 2.5%;
        text-align: center;
    }
    
    .tecnology-title h1{
        font-size: 1.2em;
    
        margin: 0%;
        padding: 0%;
    }

    .tecnologies{
        width: 90%;
        height: 50vh;
        margin: 2.5vh 5% 2.5vh 5%;
        display: flex;
        flex-direction: column;
    }

    .tecnologies-container{
        width: 100%;
        height: 12.5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .tecnologies-images{
        width: 20%;
        height: 12.5vh;
    }
    
    .tecnologies-images img{
        width: 60%;
        height: 10vh;
        margin: 0.7vh 20% 0.7vh 20%;
    }
} */