<div class="container mt-5" id="Tecnologia">
  <div class="text-center">
    <h2 class="fw-bold">
      TECNOLOGÍAS QUE INTERESAN Y QUE USAMOS PARA MEJORAR TU EMPRESA
    </h2>
  </div>
  <div class="row row-cols-3 row-cols-lg-4">
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ puntonet }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ sqlServe }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ azure }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ telerik }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ angular }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ typescript }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ vuejs }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ figma }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ redis }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ mongodb }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ mysql }}" alt=".."/>
    </div>
    <div class="tecnologies-images p-5">
      <img class="img-fluid" src="{{ flutter }}" alt=".."/>
    </div>
  </div>
</div>
