<div class="mision-vision-container">
    <div class="mision-vision-content">
        <div class="mision-container">
            <div class="option-container-img">
                <img src="../../../../assets/images/missionvision/missionv.jpg" alt="mission">
            </div>
            <div id="Etereo" class="option-container-text">
                <div class="option-container-text-title">
                    <h1>MISIÓN</h1>
                </div>
                <div class="option-container-text-p">
                    <p> 
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.
                    </p>
                    <p> 
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.
                    </p>
                </div>
            </div>
        </div>   
        <div class="vision-container">
            <div class="option-container-img">
                <img src="../../../../assets/images/missionvision/visionm.jpg" alt="vision">
            </div>
            <div class="option-container-text">
                <div class="option-container-text-title">
                    <h1>VISIÓN</h1>
                </div>
                <div class="option-container-text-p">
                    <p> 
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.
                    </p>
                    <p> 
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.
                    </p>
                </div>
            </div>
        </div> 
    </div>
</div>