.mision-vision-container{
    width: 100%;
    height: 70vh;
}

.mision-vision-buttons{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0vh 25% 0vh 25%;
}

.button-value{
    width: 20%;
    height: 6vh;
    text-align: center;
    background-color: #3EA7A4;
    border-radius: 7.5%; 
    margin-top: 2vh; 
}

.button-value h2{
    margin: 0%;
    color: white;
    font-size: 1em;
    font-family: 'Righteous', cursive;
    margin-top: 1vh;
}

.mision-vision-content{
    width: 75%;
    height: 50vh;
    margin: 2.5vh 12.5% 2.5vh 12.5%;
    border-radius: 5%;
    background-color: rgb(201, 201, 201);
}

.mision-container{
    width: 100%;
    height: 50vh;
    display:flex;
    flex-direction: row;
}

.options-container{
    width: 100%;
    height: 50vh;
}

.option-container-img{
    width: 45%;
    height: 50vh;
    border-radius: 5%;
}

.option-container-img img{
    width: 100%;
    height: 50vh;
    border-radius: 5%;
}

.option-container-text{
    width: 55%;
    height: 50vh;
}

.option-container-text-title{
    width: 80%;
    height: 10vh;
    margin: 1vh 10% 1vh 10%;
    text-align: center;
}

.option-container-text-title h1{
    color: black;
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
}

.option-container-text-p{
    width: 80%;
    height: 36vh;
    margin: 1vh 10% 1vh 10%;
}

.option-container-text-p p{
    color: black;
    font-size: 0.8em;
    font-family: 'Righteous', cursive;
}

.vision-container{
    width: 100%;
    height: 50vh;
    display:flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 1000px){
    .option-container-text-p p{
        color: black;
        font-size: 0.7em;
        font-family: 'Righteous', cursive;
    }
}

@media screen and (max-width: 750px){
    
    .mision-vision-container{
        width: 100%;
        height: 50vh;
    }
    
    .mision-vision-buttons{
        width: 50%;
        height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0vh 25% 0vh 25%;
    }
    
    .button-value{
        width: 25%;
        height: 3vh;
        text-align: center;
        background-color: #3EA7A4;
        border-radius: 7.5%; 
        margin-top: 0.8vh; 
    }
    
    .button-value h2{
        margin: 0%;
        color: white;
        font-size: 0.5em;
        font-family: 'Righteous', cursive;
        margin-top: 1vh;
    }
    
    .mision-vision-content{
        width: 85%;
        height: 40vh;
        margin: 1.5vh 7.5% 1.5vh 7.5%;
        border-radius: 5%;
        background-color: rgb(201, 201, 201);
    }
    
    .mision-container{
        width: 100%;
        height: 40vh;
        display:flex;
        flex-direction: row;
    }
    
    .options-container{
        width: 100%;
        height: 40vh;
    }
    
    .option-container-img{
        width: 45%;
        height: 40vh;
        border-radius: 5%;
    }
    
    .option-container-img img{
        width: 100%;
        height: 40vh;
        border-radius: 5%;
    }
    
    .option-container-text{
        width: 55%;
        height: 40vh;
    }
    
    .option-container-text-title{
        width: 80%;
        height: 4.5vh;
        margin: 1vh 10% 1vh 10%;
        text-align: center;
    }
    
    .option-container-text-title h1{
        color: black;
        font-size: 1.5em;
        font-family: 'Righteous', cursive;
        margin: 0%;
    }
    
    .option-container-text-p{
        width: 80%;
        height: 30vh;
        margin: 1vh 10% 1vh 10%;
    }
    
    .option-container-text-p p{
        color: black;
        font-size: 0.6em;
        font-family: 'Righteous', cursive;
    }
    
    .vision-container{
        width: 100%;
        height: 40vh;
        display:flex;
        flex-direction: row-reverse;
    }
    
}

@media screen and (max-width: 450px){
    .mision-vision-container{
        width: 100%;
        height: 40vh;
    }
    
    .mision-vision-buttons{
        width: 50%;
        height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0vh 25% 0vh 25%;
    }
    
    .button-value{
        width: 25%;
        height: 3vh;
        text-align: center;
        background-color: #3EA7A4;
        border-radius: 7.5%; 
        margin-top: 0.8vh; 
    }
    
    .button-value h2{
        margin: 0%;
        color: white;
        font-size: 0.5em;
        font-family: 'Righteous', cursive;
        margin-top: 1vh;
    }
    
    .mision-vision-content{
        width: 85%;
        height: 30vh;
        margin: 1.5vh 7.5% 1.5vh 7.5%;
        border-radius: 5%;
        background-color: rgb(201, 201, 201);
    }
    
    .mision-container{
        width: 100%;
        height: 30vh;
        display:flex;
        flex-direction: row;
    }
    
    .options-container{
        width: 100%;
        height: 30vh;
    }
    
    .option-container-img{
        width: 45%;
        height: 30vh;
        border-radius: 5%;
    }
    
    .option-container-img img{
        width: 100%;
        height: 30vh;
        border-radius: 5%;
    }
    
    .option-container-text{
        width: 55%;
        height: 30vh;
    }
    
    .option-container-text-title{
        width: 80%;
        height: 4.5vh;
        margin: 1vh 10% 1vh 10%;
        text-align: center;
    }
    
    .option-container-text-title h1{
        color: black;
        font-size: 1.5em;
        font-family: 'Righteous', cursive;
        margin: 0%;
    }
    
    .option-container-text-p{
        width: 80%;
        height: 20vh;
        margin: 1vh 10% 1vh 10%;
    }
    
    .option-container-text-p p{
        color: black;
        font-size: 0.4em;
        font-family: 'Righteous', cursive;
    }
    
    .vision-container{
        width: 100%;
        height: 50vh;
        display:flex;
        flex-direction: row-reverse;
    }  
}