.mision-vision-container{
    width: 100%;
    height: 120vh;
}

.mision-vision-content{
    width: 75%;
    height: 50vh;

}

.mision-container{
    width: 100%;
    height: 50vh;
    display:flex;
    flex-direction: row;
    margin: 2.5vh 12.5% 2.5vh 12.5%;
    border-radius: 25px; 
    background-color: rgb(201, 201, 201);
}

.options-container{
    width: 100%;
    height: 50vh;
}

.option-container-img{
    width: 45%;
    height: 50vh;
    border-radius: 10px; 
}

.option-container-img img{
    width: 100%;
    height: 50vh;
    border-radius: 25px; 
}

.option-container-text{
    width: 55%;
    height: 50vh;
}

.option-container-text-title{
    width: 80%;
    height: 10vh;
    margin: 1vh 10% 1vh 10%;
    text-align: center;
}

.option-container-text-title h1{
    color: black;
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
}

.option-container-text-p{
    width: 80%;
    height: 36vh;
    margin: 1vh 10% 1vh 10%;
}

.option-container-text-p p{
    color: black;
    font-size: 0.8em;
    font-family: 'Righteous', cursive;
}

.vision-container{
    width: 100%;
    height: 50vh;
    display:flex;
    flex-direction: row-reverse;
    margin: 8vh 12.5% 2.5vh 12.5%;
    border-radius: 25px; 
    background-color: rgb(201, 201, 201);
}

