<div class="container">
  <div class="card mt-5">
    <div class="row g-0">
      <div class="col-sm-5">
        <img
          src="../../../../assets/images/mission-vision/missionv.webp"
          class="img-fluid rounded-start"
          alt="mission"
        />
      </div>
      <div class="col-sm-7">
        <div class="card-body">
          <h2 class="card-title text-center fw-bold">MISIÓN</h2>
          <p class="card-text mt-3">
            Somos una compañía que busca formar una relación cercana con
            nuestros clientes, entendiendo sus necesidades con el objetivo de
            impulsar sus empresas incrementando su competitividad, productividad
            y rentabilidad a través de soluciones tecnológicas innovadoras y
            creativas, brindando una asesoría transparente y de calidad.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex flex-row-reverse">
  <div class="card mt-5">
    <div class="row g-0">
      <div class="col-sm-7">
        <div class="card-body">
          <h2 class="card-title text-center fw-bold">VISION</h2>
          <p class="card-text mt-3">
            Posicionarnos como compañía de soluciones tecnológicas más atractiva
            a nivel nacional e internacional y ser reconocidos por nuestro
            compromiso, capacidad, calidad, creatividad e innovación con
            nuestros clientes, para ser un aliado estratégico y ayudarlos a
            potenciar sus empresas usando las mejores herramientas tecnológicas.
          </p>
        </div>
      </div>
      <div class="col-sm-5">
        <img
          src="../../../../assets/images/mission-vision/visionm.webp"
          class="img-fluid rounded-end"
          alt="vision"
        />
      </div>
    </div>
  </div>
</div>
