<div class="container">
    <div class="buttons">
        <div class="values">
            <h2>misión</h2>
        </div>
        <div class="values">
            <h2>vision</h2>
        </div>
    </div>

    <div class="missionbox">
        <img src="../../../../assets/images/missionvision/missionv.jpg" alt="mission">
        <div class="textmission">
            <h1>MISION</h1>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.</p>
        </div>
    </div>   
</div>

<div class="container">

    <div class="visionbox">
        <img src="../../../../assets/images/missionvision/visionm.jpg" alt="vision">
        <div class="textvision">
            <h1>VISION</h1>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi ex architecto labore accusamus cupiditate rem omnis debitis, hic odio quaerat nihil quo repellendus sequi eveniet beatae error, mollitia ratione.</p>
        </div>
    </div>   
</div>