/*Floating Action Button*/
.floating-button{
    width: 15%;
    height: 12vh;
    position: fixed;
    bottom: 8.5%;
    right: 3%;
    z-index: 2;
}

.contact{
    width: 90%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1vh 5% 1vh 5%;
    text-decoration: none;
    background: #3EA7A4;
    color:#ffffff;
    border-radius: 25px;
    text-align: center;
}

.contact-icon{
    width: 25%;
    height: 6vh;
    margin: 2.5vh 0% 1vh 2.5%;
    cursor: pointer; 
    text-align: center;
}

.contact-icon i{
    margin: 0%;
    padding: 0%;
    font-size: 3.5em;
}

.contact-p{
    width: 65%;
    height: 6vh;
    margin: 2vh 0% 2vh 0%;
    text-align: left;
}

.contact-p p{
    
    font-size: 2.2em;
}

/*RESPONSIVE PARA MODAL*/
.close-modal{
    width: 5%;
    height: 5vh;
    position: absolute;    
    cursor: pointer;
    text-align: center;
    top:1%; 
    right:-1%;
}

.close-modal-button{
    color: #ffffff;
    font-size: 1em;
}

.dialog-container{
    width: 50%;
    height: 60vh;  
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden; 
    border-radius: 10px;
}

.dialog-container-elements{
    width: 100%;
    height: 60vh;  
    display: flex;
    flex-direction: row;
    background-color: #2b2b2b;
}

.image-container{
    width: 45%;
    height: 60vh;
}

.image-container img{
    width: 100%;
    height: 60vh;
}

.form-container{
    width: 55%;
    height: 60vh;
    margin: 0%;    
}

.form-container-elements{
    width: 85%;
    height: 59.5vh;
    margin: 0% 0% 0% 8%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-container-title{
    width: 100%;
    height: 5vh;
    text-align: center;
}

.form-container-title h1{
    color: #ffffff;
    font-size: 2.5em;
    
}

.form-container-up{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form-container-name{
    width: 48%;
    height: 10vh;
}

.form-container-name label{
    color: #ffffff;
    font-size: 1em;
    
    margin: 0%;
}

.form-container-name input{
    width: 95%;
    height: 5vh;
    margin-top: 1vh;
    
    border-radius: 0%;
}

.form-container-contact{
    width: 50%;
    height: 10vh;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-container-contact label{
    color: #ffffff;
    font-size: 1em;
    
    margin: 0%;
}

.form-container-contact input{
    width: 95%;
    height: 5vh;
    margin-top: 1vh;
    
    border-radius: 0%;
}

.form-container-email{
    width: 100%;
    height: 10vh;

}

.form-container-email label{
    color: #ffffff;
    font-size: 1em;
    
    margin: 0%;
}

.form-container-email input{
    width: 100%;
    height: 5vh;
    margin-top: 1vh;
    
    border-radius: 0%;
}

.form-container-service{
    width: 100%;
    height: 10vh;
}

.form-container-service label{
    color: #ffffff;
    font-size: 1em;
    
    margin: 0%;
}

.form-container-service select{
    width: 100%;
    height: 5vh;
    margin-top: 1vh;
    
    font-size: 0.9em;
    border-radius: 0%;
}

.form-container-message{
    width: 100%;
    height: 15vh;
}

.form-container-message label{
    color: #ffffff;
    font-size: 1em;
    
    margin: 0%;
}

.form-container-message textarea{
    width: 100%;
    height: 9vh;
    margin-top: 1vh;
    
    font-size: 0.9em;
    border-radius: 0%;
}

.form-container-down{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.form-container-button{
    width: 30%;
    height: 6vh;
}

.form-container-button button{
    width: 95%;
    height: 6vh;
    background-color: #3EA7A4;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    padding: 0%;
}

.form-container-message-error{
    width: 70%;
    height: 3vh;
    margin: 1.5vh 3% 0.5vh 3%
}

.form-container-message-error label{
    color: #ce0a0a;
    font-size: 1em;
    margin:auto;
}


@media screen and (max-width: 2500px){
    .floating-button{
        width: 17%;
        height: 12vh;
        position: fixed;
        bottom: 8.5%;
        right: 3%;
        z-index: 2;
    }
    
    .contact{
        width: 90%;
        height: 9vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1vh 5% 1vh 5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 25px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 6vh;
        margin: 2.5vh 0% 1vh 2.5%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        margin: 0%;
        padding: 0%;
        font-size: 3.5em;
    }
    
    .contact-p{
        width: 65%;
        height: 6vh;
        margin: 2vh 0% 2vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 2.2em;
    }
}

@media screen and (max-width: 2250px){
    .floating-button{
        width: 18%;
        height: 12vh;
        position: fixed;
        bottom: 8.5%;
        right: 3%;
        z-index: 2;
    }
    
    .contact{
        width: 90%;
        height: 9vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1vh 5% 1vh 5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 25px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 6vh;
        margin: 2.5vh 0% 1vh 2.5%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        margin: 0%;
        padding: 0%;
        font-size: 3em;
    }
    
    .contact-p{
        width: 65%;
        height: 6vh;
        margin: 2vh 0% 2vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 2em;
    }
}

@media screen and (max-width: 1800px){
    .floating-button{
        width: 20%;
        height: 12vh;
        position: fixed;
        bottom: 8.5%;
        right: 3%;
        z-index: 2;
    }
    
    .contact{
        width: 90%;
        height: 9vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1vh 5% 1vh 5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 25px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 6vh;
        margin: 2.5vh 0% 1vh 2%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        margin: 0%;
        padding: 0%;
        font-size: 2.5em;
    }
    
    .contact-p{
        width: 65%;
        height: 6vh;
        margin: 2vh 0% 2vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 1.8em;
    }
}

@media screen and (max-width: 1500px){
    .floating-button{
        width: 22%;
        height: 10vh;
        position: fixed;
        bottom: 10.5%;
        right: 2%;
        z-index: 2;
    }
    
    .contact{
        width: 95%;
        height: 9vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1vh 2.5% 1vh 2.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 20px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin-top: 7.5%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        font-size: 2.5em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 2vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 1.8em;
    }

    /*RESPONSIVE PARA MODAL*/
    .close-modal{
        width: 5%;
        height: 5vh;
        position: absolute;    
        cursor: pointer;
        text-align: center;
        top:1%; 
        right:1%;
    }
    
    .close-modal-button{
        color: #ffffff;
        font-size: 1em;
    }
    
    .dialog-container{
        width: 85%;
        height: 58vh;
        padding: 0px;
        overflow-y: hidden;
        overflow-x: hidden; 
        border-radius: 10px;
    }
    
    .dialog-container-elements{
        width: 100%;
        height: 58vh;  
        display: flex;
        flex-direction: row;
        background-color: black;
    }
    
    .image-container{
        width: 45%;
        height: 58vh;
    }
    
    .image-container img{
        width: 100%;
        height: 58vh;
    }
    
    .form-container{
        width: 55%;
        height: 58vh;
        margin: 0%;    
    }
    
    .form-container-elements{
        width: 95%;
        height: 53vh;
        margin: 2.5vh 2.5% 2.5vh 2.5%;
    }
    
    .form-container-title{
        width: 100%;
        height: 5vh;
        text-align: center;
    }
    
    .form-container-title h1{
        color: #ffffff;
        font-size: 2em;
        
    }
    
    .form-container-up{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .form-container-name{
        width: 48%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-name label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-name input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-contact{
        width: 48%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-contact label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-contact input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-email{
        width: 98%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-email label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-email input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-service{
        width: 98%;
        height: 8vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-service label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-service select{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-message{
        width: 98%;
        height: 14vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-message label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-message textarea{
        width: 95%;
        height: 10vh;
        margin: 0.5vh 2.5% 0.5vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-button{
        width: 30%;
        height: 5vh;
        margin-left: 4%;
    }
    
    .form-container-button button{
        width: 95%;
        height: 5vh;
        background-color: #3EA7A4;
        font-size: 1.8em;
        text-align: center;
        padding: 0%;
    }
}

@media screen and (max-width: 1250px){
    .floating-button{
        width: 28%;
        height: 10vh;
        position: fixed;
        bottom: 10.5%;
        right: 2.2%;
        z-index: 2;
    }
    
    .contact{
        width: 95%;
        height: 8.5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1vh 2.5% 1vh 2.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 20px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin-top: 6%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        font-size: 2.8em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 1vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 1.8em;
    }

    /*RESPONSIVE PARA MODAL*/
    .close-modal{
        width: 5%;
        height: 5vh;
        position: absolute;    
        cursor: pointer;
        text-align: center;
        top:1%; 
        right:1%;
    }
    
    .close-modal-button{
        color: #ffffff;
        font-size: 1em;
    }
    
    .dialog-container{
        width: 85%;
        height: 58vh;  
        padding: 0px;
        overflow-y: hidden;
        overflow-x: hidden; 
        border-radius: 10px;
    }
    
    .dialog-container-elements{
        width: 100%;
        height: 58vh;  
        display: flex;
        flex-direction: row;
        background-color: black;
    }
    
    .image-container{
        width: 45%;
        height: 58vh;
    }
    
    .image-container img{
        width: 100%;
        height: 58vh;
    }
    
    .form-container{
        width: 55%;
        height: 58vh;
        margin: 0%;    
    }
    
    .form-container-elements{
        width: 95%;
        height: 51vh;
        margin: 2.5vh 2.5% 2.5vh 2.5%;
    }
    
    .form-container-title{
        width: 100%;
        height: 5vh;
        text-align: center;
    }
    
    .form-container-title h1{
        color: #ffffff;
        font-size: 2em;
        
    }
    
    .form-container-up{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .form-container-name{
        width: 48%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-name label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-name input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-contact{
        width: 48%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-contact label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-contact input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-email{
        width: 98%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-email label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-email input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-service{
        width: 98%;
        height: 8vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-service label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-service select{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-message{
        width: 98%;
        height: 15vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-message label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-message textarea{
        width: 95%;
        height: 10vh;
        margin: 0.5vh 2.5% 0.5vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-button{
        width: 35%;
        height: 6vh;
        margin-left: 4%;
    }
    
    .form-container-button button{
        width: 95%;
        height: 6vh;
        background-color: #3EA7A4;
        font-size: 2em;
        text-align: center;
        padding: 0%;
    }
}

@media screen and (max-width: 1000px){
    .floating-button{
        width: 28%;
        height: 8vh;
        position: fixed;
        bottom: 10.5%;
        right: 2%;
        z-index: 2;
    }
    
    .contact{
        width: 95%;
        height: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1vh 2.5% 1vh 2.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 20px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin-top: 8%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        font-size: 2.3em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 1.4vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 1.6em;
    }

    /*RESPONSIVE PARA MODAL*/
    .close-modal{
        width: 5%;
        height: 5vh;
        position: absolute;    
        cursor: pointer;
        text-align: center;
        top:1%; 
        right:1%;
    }
    
    .close-modal-button{
        color: #ffffff;
        font-size: 1em;
    }
    
    .dialog-container{
        width: 90%;
        height: 62vh;  
        padding: 0px;
        overflow-y: hidden;
        overflow-x: hidden; 
        border-radius: 10px;
    }
    
    .dialog-container-elements{
        width: 100%;
        height: 62vh;  
        display: flex;
        flex-direction: row;
        background-color: black;
    }
    
    .image-container{
        width: 45%;
        height: 62vh;
    }
    
    .image-container img{
        width: 100%;
        height: 62vh;
    }
    
    .form-container{
        width: 55%;
        height: 62vh;
        margin: 0%;    
    }
    
    .form-container-elements{
        width: 95%;
        height: 53vh;
        margin: 2.5vh 2.5% 2.5vh 2.5%;
    }
    
    .form-container-title{
        width: 100%;
        height: 5vh;
        text-align: center;
    }
    
    .form-container-title h1{
        color: #ffffff;
        font-size: 2em;
        
    }
    
    .form-container-up{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .form-container-name{
        width: 98%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-name label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-name input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-contact{
        width: 98%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-contact label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-contact input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-email{
        width: 98%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-email label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-email input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-service{
        width: 98%;
        height: 8vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-service label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-service select{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-message{
        width: 98%;
        height: 12vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-message label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-message textarea{
        width: 95%;
        height: 8vh;
        margin: 0.5vh 2.5% 0.5vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-button{
        width: 32%;
        height: 5vh;
        margin-left: 4%;
    }
    
    .form-container-button button{
        width: 95%;
        height: 5vh;
        background-color: #3EA7A4;
        font-size: 1.6em;
        text-align: center;
        padding: 0%;
    }
}

@media screen and (max-width: 900px){
    .floating-button{
        width: 25%;
        height: 8vh;
        position: fixed;
        bottom: 10.5%;
        right: 2%;
        z-index: 2;
    }
    
    .contact{
        width: 95%;
        height: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1vh 2.5% 1vh 2.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 20px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin-top: 12%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        font-size: 1.8em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 1.8vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 1.3em;
    }

    /*RESPONSIVE PARA MODAL*/
    .close-modal{
        width: 5%;
        height: 5vh;
        position: absolute;    
        cursor: pointer;
        text-align: center;
        top:1%; 
        right:1%;
    }
    
    .close-modal-button{
        color: #ffffff;
        font-size: 1em;
    }
    
    .dialog-container{
        width: 95%;
        height: 62vh;  
        padding: 0px;
        overflow-y: hidden;
        overflow-x: hidden; 
        border-radius: 10px;
    }
    
    .dialog-container-elements{
        width: 100%;
        height: 62vh;  
        display: flex;
        flex-direction: row;
        background-color: black;
    }
    
    .image-container{
        width: 45%;
        height: 62vh;
    }
    
    .image-container img{
        width: 100%;
        height: 62vh;
    }
    
    .form-container{
        width: 55%;
        height: 62vh;
        margin: 0%;    
    }
    
    .form-container-elements{
        width: 95%;
        height: 53vh;
        margin: 2.5vh 2.5% 2.5vh 2.5%;
    }
    
    .form-container-title{
        width: 100%;
        height: 5vh;
        text-align: center;
    }
    
    .form-container-title h1{
        color: #ffffff;
        font-size: 1.8em;
        
    }
    
    .form-container-up{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .form-container-name{
        width: 98%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-name label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-name input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-contact{
        width: 98%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-contact label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-contact input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-email{
        width: 98%;
        height: 8vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-email label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-email input{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-service{
        width: 98%;
        height: 8vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-service label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-service select{
        width: 95%;
        height: 5vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-message{
        width: 98%;
        height: 12vh;
        margin: 0.5vh 1% 0.5vh 1%
    }
    
    .form-container-message label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-message textarea{
        width: 95%;
        height: 8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-button{
        width: 30%;
        height: 5vh;
        margin-left: 4%;
    }
    
    .form-container-button button{
        width: 95%;
        height: 5vh;
        background-color: #3EA7A4;
        font-size: 1.6em;
        text-align: center;
        padding: 0%;
    }
}

@media screen and (max-width: 800px){
    .floating-button{
        width: 30%;
        height: 8vh;
        position: fixed;
        bottom: 7.5%;
        right: 2%;
        z-index: 2;
    }
    
    .contact{
        width: 95%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0.8vh 2.5% 1vh 2.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 20px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin-top: 10%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        font-size: 1.8em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 1.5vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 1.2em;
    }

    /* RESPONSIVE PARA MODAL */
    .close-modal{
        width: 5%;
        height: 5vh;
        position: absolute;    
        cursor: pointer;
        text-align: center;
        top:1%; 
        right:1%;
    }
    
    .close-modal-button{
        color: #ffffff;
        font-size: 1em;
    }
    
    .dialog-container{
        width: 85%;
        height: 62vh;  
        padding: 0px;
        overflow-y: hidden;
        overflow-x: hidden; 
        border-radius: 10px;
    }
    
    .dialog-container-elements{
        width: 100%;
        height: 62vh;  
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    
    .image-container{
        width: 100%;
        height: 12vh;
    }
    
    .image-container img{
        width: 20%;
        height: 10vh;
        border-radius: 100%;
        margin: 1.5vh 40% 1.5vh 40%;
    }
    
    .form-container{
        width: 100%;
        height: 44vh;
        margin: 0%; 
    }
    
    .form-container-elements{
        width: 95%;
        height: 42vh;
        margin: 1vh 2.5% 1vh 2.5%;
    }
    
    .form-container-title{
        width: 100%;
        height: 4vh;
        text-align: center;
    }
    
    .form-container-title h1{
        color: #ffffff;
        font-size: 2em;
        
    }
    
    .form-container-up{
        width: 100%;
        height: 9vh;
        display: flex;
        flex-direction: row;
    }
    
    .form-container-name{
        width: 48%;
        height: 11vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-name label{
        color: #ffffff;
        font-size: 1.2em;
        
        margin: 0%;
    }
    
    .form-container-name input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-contact{
        width: 48%;
        height: 11vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-contact label{
        color: #ffffff;
        font-size: 1.2em;
        
        margin: 0%;
    }
    
    .form-container-contact input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-email{
        width: 98%;
        height: 9vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-email label{
        color: #ffffff;
        font-size: 1.2em;
        
        margin: 0%;
    }
    
    .form-container-email input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-service{
        width: 98%;
        height: 9vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-service label{
        color: #ffffff;
        font-size: 1.2em;
        
        margin: 0%;
    }
    
    .form-container-service select{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-message{
        width: 98%;
        height: 11vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-message label{
        color: #ffffff;
        font-size: 1.2em;
        
        margin: 0%;
    }
    
    .form-container-message textarea{
        width: 95%;
        height: 6vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-button{
        width: 25%;
        height: 5vh;
        margin-left: 4%;
    }
    
    .form-container-button button{
        width: 95%;
        height: 5vh;
        background-color: #3EA7A4;
        font-size: 1.5em;
        text-align: center;
        padding: 0%;
    }
}

@media screen and (max-width: 600px){
    .floating-button{
        width: 30%;
        height: 8vh;
        position: fixed;
        bottom: 7%;
        right: 2%;
        z-index: 2;
    }
    
    .contact{
        width: 95%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0.8vh 2.5% 1vh 2.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 20px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin-top: 10%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        font-size: 1.6em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 1.4vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 1em;
    }

    /* RESPONSIVE PARA MODAL */
    .close-modal{
        width: 5%;
        height: 5vh;
        position: absolute;    
        cursor: pointer;
        text-align: center;
        top:1%; 
        right:1%;
    }
    
    .close-modal-button{
        color: #ffffff;
        font-size: 1em;
    }
    
    .dialog-container{
        width: 100%;
        height: 66vh;  
        padding: 0px;
        overflow-y: hidden;
        overflow-x: hidden; 
        border-radius: 10px;
    }
    
    .dialog-container-elements{
        width: 100%;
        height: 66vh;  
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    
    .image-container{
        width: 100%;
        height: 16vh;
    }
    
    .image-container img{
        width: 35%;
        height: 13vh;
        border-radius: 100%;
        margin: 1.5vh 32.5% 1.5vh 32.5%;
    }
    
    .form-container{
        width: 100%;
        height: 48vh;
        margin: 0%; 
    }
    
    .form-container-elements{
        width: 95%;
        height: 46vh;
        margin: 1vh 2.5% 1vh 2.5%;
    }
    
    .form-container-title{
        width: 100%;
        height: 4vh;
        text-align: center;
    }
    
    .form-container-title h1{
        color: #ffffff;
        font-size: 1.8em;
        
    }
    
    .form-container-up{
        width: 100%;
        height: 9vh;
        display: flex;
        flex-direction: row;
    }
    
    .form-container-name{
        width: 48%;
        height: 11vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-name label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-name input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-contact{
        width: 48%;
        height: 11vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-contact label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-contact input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-email{
        width: 98%;
        height: 9vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-email label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-email input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-service{
        width: 98%;
        height: 9vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-service label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-service select{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-message{
        width: 98%;
        height: 11vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-message label{
        color: #ffffff;
        font-size: 1em;
        
        margin: 0%;
    }
    
    .form-container-message textarea{
        width: 95%;
        height: 6vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-button{
        width: 30%;
        height: 5vh;
        margin-left: 4%;
    }
    
    .form-container-button button{
        width: 95%;
        height: 5vh;
        background-color: #3EA7A4;
        font-size: 1.2em;
        text-align: center;
        padding: 0%;
    }
}

@media screen and (max-width: 480px){
    .floating-button{
        width: 40%;
        height: 8vh;
        position: fixed;
        bottom: 7%;
        right: 2%;
        z-index: 2;
    }
    
    .contact{
        width: 95%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0.8vh 2.5% 1vh 2.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 10px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin: 7%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        font-size: 1.2em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 1vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 0.9  em;
    }

    /* RESPONSIVE PARA MODAL */
    .close-modal{
        width: 5%;
        height: 5vh;
        position: absolute;    
        cursor: pointer;
        text-align: center;
        top:1%; 
        right:1%;
    }
    
    .close-modal-button{
        color: #ffffff;
        font-size: 1em;
    }
    
    .dialog-container{
        width: 100%;
        height: 68vh;  
        padding: 0px;
        overflow-y: hidden;
        overflow-x: hidden; 
        border-radius: 10px;
    }
    
    .dialog-container-elements{
        width: 100%;
        height: 68vh;  
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    
    .image-container{
        width: 100%;
        height: 18vh;
    }
    
    .image-container img{
        width: 35%;
        height: 15vh;
        border-radius: 100%;
        margin: 1.5vh 32.5% 1.5vh 32.5%;
    }
    
    .form-container{
        width: 100%;
        height: 50vh;
        margin: 0%; 
    }
    
    .form-container-elements{
        width: 95%;
        height: 48vh;
        margin: 1vh 2.5% 1vh 2.5%;
    }
    
    .form-container-title{
        width: 100%;
        height: 4vh;
        text-align: center;
    }
    
    .form-container-title h1{
        color: #ffffff;
        font-size: 1.2em;
        
    }
    
    .form-container-up{
        width: 100%;
        height: 9vh;
        display: flex;
        flex-direction: row;
    }
    
    .form-container-name{
        width: 48%;
        height: 11vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-name label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-name input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-contact{
        width: 48%;
        height: 11vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-contact label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-contact input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-email{
        width: 98%;
        height: 9vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-email label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-email input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-service{
        width: 98%;
        height: 9vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-service label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-service select{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-message{
        width: 98%;
        height: 11vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-message label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-message textarea{
        width: 95%;
        height: 6vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-button{
        width: 30%;
        height: 5vh;
        margin-left: 4%;
    }
    
    .form-container-button button{
        width: 95%;
        height: 5vh;
        background-color: #3EA7A4;
        font-size: 1em;
        text-align: center;
        padding: 0%;
    }
}

@media screen and (max-width: 400px){
    /* RESPONSIVE PARA BOTÓN */
    .floating-button{
        width: 35%;
        height: 7vh;
        position: fixed;
        bottom: 7%;
        right: 2%;
        z-index: 2;
    }
    
    .contact{
        width: 95%;
        height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0.8vh 2.5% 1vh 2.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 10px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin: 1.5%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        font-size: 0.8em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 0.8vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        
        font-size: 0.8em;
    }


    /* RESPONSIVE PARA MODAL */
    .close-modal{
        width: 5%;
        height: 5vh;
        position: absolute;    
        cursor: pointer;
        text-align: center;
        top:1%; 
        right:1%;
    }
    
    .close-modal-button{
        color: #ffffff;
        font-size: 1em;
    }
    
    .dialog-container{
        width: 100%;
        height: 66vh;  
        padding: 0px;
        overflow-y: hidden;
        overflow-x: hidden; 
        border-radius: 10px;
    }
    
    .dialog-container-elements{
        width: 100%;
        height: 66vh;  
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    
    .image-container{
        width: 100%;
        height: 16vh;
    }
    
    .image-container img{
        width: 35%;
        height: 15vh;
        border-radius: 100%;
        margin: 1.5vh 32.5% 1.5vh 32.5%;
    }
    
    .form-container{
        width: 100%;
        height: 50vh;
        margin: 0%; 
    }
    
    .form-container-elements{
        width: 95%;
        height: 48vh;
        margin: 1vh 2.5% 1vh 2.5%;
    }
    
    .form-container-title{
        width: 100%;
        height: 4vh;
        text-align: center;
    }
    
    .form-container-title h1{
        color: #ffffff;
        font-size: 1.2em;
        
    }
    
    .form-container-up{
        width: 100%;
        height: 9vh;
        display: flex;
        flex-direction: row;
    }
    
    .form-container-name{
        width: 48%;
        height: 11vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-name label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-name input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-contact{
        width: 48%;
        height: 11vh;
        margin: 0vh 1% 0vh 1%
    }
    
    .form-container-contact label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-contact input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-email{
        width: 98%;
        height: 9vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-email label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-email input{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
    }
    
    .form-container-service{
        width: 98%;
        height: 9vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-service label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-service select{
        width: 95%;
        height: 4.8vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-message{
        width: 98%;
        height: 11vh;
        margin: 0%;
        margin-left: 1%;
    }
    
    .form-container-message label{
        color: #ffffff;
        font-size: 0.6em;
        
        margin: 0%;
    }
    
    .form-container-message textarea{
        width: 95%;
        height: 6vh;
        margin: 0vh 2.5% 0vh 2.5%;
        
        font-size: 0.9em;
    }
    
    .form-container-button{
        width: 30%;
        height: 5vh;
        margin-left: 4%;
    }
    
    .form-container-button button{
        width: 95%;
        height: 5vh;
        background-color: #3EA7A4;
        font-size: 1em;
        text-align: center;
        padding: 0%;
    }
}