/*Floating Action Button*/
.floating-button{
    width: 20%;
    height: 12vh;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 2;
}

.contact{
    width: 90%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1vh 5% 1vh 5%;
    text-decoration: none;
    background: #3EA7A4;
    color:#ffffff;
    border-radius: 25px;
    text-align: center;
}

.contact-icon{
    width: 25%;
    height: 6vh;
    margin: 2.5vh 0% 1vh 2.5%;
    cursor: pointer; 
    text-align: center;
}

.contact-icon i{
    margin: 0%;
    padding: 0%;
    font-size: 2.5em;
}

.contact-p{
    width: 65%;
    height: 6vh;
    margin: 2vh 0% 2vh 0%;
    text-align: left;
}

.contact-p p{
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
}

/*modal*/
.close-modal{
    width: 5%;
    height: 5vh;
    position: absolute;    
    cursor: pointer;
    text-align: center;
    top:1%; 
    right:1%;
}

.close-modal-button{
    color: #ffffff;
    font-size: 1em;
}

.dialog-container{
    width: 70%;
    height: 70vh;  
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden; 
    border-radius: 10px;
}

.dialog-container-elements{
    width: 100%;
    height: 70vh;  
    display: flex;
    flex-direction: row;
    background-color: black;
}

.image-container{
    width: 55%;
    height: 70vh;
}

.image-container img{
    width: 100%;
    height: 70vh;
}

.form-container{
    width: 45%;
    height: 70vh;
    margin: 0%;    
}

.form-container-elements{
    width: 90%;
    height: 65vh;
    margin: 2.5vh 5% 2.5vh 5%;
}

.form-container-title{
    width: 100%;
    height: 6vh;
    text-align: center;
}

.form-container-title h1{
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
}

.form-container-up{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-container-name{
    width: 48%;
    height: 11vh;
    margin: 0.5vh 1% 0.5vh 1%
}

.form-container-name label{
    color: #ffffff;
    font-size: 0.6em;
    font-family: 'Righteous', cursive;
    margin: 0%;
}

.form-container-name input{
    width: 95%;
    height: 5vh;
    margin: 0.5vh 2.5% 0.5vh 2.5%;
    font-family: 'Righteous', cursive;
}

.form-container-contact{
    width: 48%;
    height: 11vh;
    margin: 0.5vh 1% 0.5vh 1%
}

.form-container-contact label{
    color: #ffffff;
    font-size: 0.6em;
    font-family: 'Righteous', cursive;
    margin: 0%;
}

.form-container-contact input{
    width: 95%;
    height: 5vh;
    margin: 0.5vh 2.5% 0.5vh 2.5%;
    font-family: 'Righteous', cursive;
}

.form-container-email{
    width: 98%;
    height: 11vh;
    margin: 0.5vh 1% 0.5vh 1%
}

.form-container-email label{
    color: #ffffff;
    font-size: 0.6em;
    font-family: 'Righteous', cursive;
    margin: 0%;
}

.form-container-email input{
    width: 95%;
    height: 5vh;
    margin: 0.5vh 2.5% 0.5vh 2.5%;
    font-family: 'Righteous', cursive;
}

.form-container-service{
    width: 98%;
    height: 11vh;
    margin: 0.5vh 1% 0.5vh 1%
}

.form-container-service label{
    color: #ffffff;
    font-size: 0.6em;
    font-family: 'Righteous', cursive;
    margin: 0%;
}

.form-container-service select{
    width: 95%;
    height: 5vh;
    margin: 0.5vh 2.5% 0.5vh 2.5%;
    font-family: 'Righteous', cursive;
    font-size: 0.9em;
}

.form-container-message{
    width: 98%;
    height: 16vh;
    margin: 0.5vh 1% 0.5vh 1%
}

.form-container-message label{
    color: #ffffff;
    font-size: 0.6em;
    font-family: 'Righteous', cursive;
    margin: 0%;
}

.form-container-message textarea{
    width: 95%;
    height: 10vh;
    margin: 0.5vh 2.5% 0.5vh 2.5%;
    font-family: 'Righteous', cursive;
    font-size: 0.9em;
}

.form-container-button{
    width: 30%;
    height: 7vh;
    margin-left: 4%;
}

.form-container-button button{
    width: 95%;
    height: 7vh;
    background-color: #3EA7A4;
    font-size: 1.2em;
    text-align: center;
    padding: 0%;
}

@media screen and (max-width: 1000px){
    .floating-button{
        width: 20%;
        height: 8vh;
        position: fixed;
        bottom: 70px;
        right: 20px;
        z-index: 2;
    }
    
    .contact{
        width: 90%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0.8vh 3% 0.8vh 3%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 25px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin: 2vh 0% 0.7vh 2%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        margin: 0%;
        padding: 0%;
        font-size: 2em;
    }
    
    .contact-p{
        width: 65%;
        height: 4vh;
        margin: 1.5vh 0% 1.5vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        font-family: 'Righteous', cursive;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 700px){
    
    .floating-button{
        width: 20%;
        height: 8vh;
        position: fixed;
        bottom: 70px;
        right: 20px;
        z-index: 2;
    }
    
    .contact{
        width: 90%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0.8vh 3% 0.8vh 3%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 25px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin: 2vh 0% 0.7vh 2%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        margin: 0%;
        padding: 0%;
        font-size: 2em;
    }
    
    .contact-p{
        width: 65%;
        height: 4vh;
        margin: 1.5vh 0% 1.5vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        font-family: 'Righteous', cursive;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 450px){
    .floating-button{
        width: 20%;
        height: 4vh;
        position: fixed;
        bottom: 70px;
        right: 20px;
        z-index: 2;
    }
    
    .contact{
        width: 90%;
        height: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0.4vh 1.5% 0.4vh 1.5%;
        text-decoration: none;
        background: #3EA7A4;
        color:#ffffff;
        border-radius: 25px;
        text-align: center;
    }
    
    .contact-icon{
        width: 25%;
        height: 4vh;
        margin: 1vh 0% 0.3vh 1%;
        cursor: pointer; 
        text-align: center;
    }
    
    .contact-icon i{
        margin: 0%;
        padding: 0%;
        font-size: 1em;
    }
    
    .contact-p{
        width: 65%;
        height: 2vh;
        margin: 0.8vh 0% 0.8vh 0%;
        text-align: left;
    }
    
    .contact-p p{
        font-family: 'Righteous', cursive;
        font-size: 0.6em;
    }
}