#modal-button {
  height: 65px;
  width: 280px;
  position: fixed;
  bottom: 25%;
  right: 3%;
  z-index: 2;
  background-color: #3ea7a4;
  border-color: #318582;
}

.modal-header {
  color: #fff;
}

.modal-header button {
  color: #fff;
}

.modal-body {
  color: #fff;
}

.modal-footer button {
  background-color: #3ea7a4;
  border-color: #318582;
}

.modal-footer label {
  color: red;
}

@media only screen and (max-width: 450px) {
  .item-label {
    display: none;
  }
  #modal-button {
    width: 20vw;
    padding: 0px;
    font-size: 35px !important;
  }
}
