<!-- Button trigger modal -->
<button
  type="button"
  id="modal-button"
  class="btn btn-primary btn-lg fs-3"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  <i class="far fa-regular fa-address-book"></i>
  <span class="item-label">&nbsp; Contáctanos</span>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center bg-dark">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ textTitle }}
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cleanForm()"
        ></button>
      </div>
      <form [formGroup]="registerForm" (submit)="sendEmail()">
        <div *ngIf="finalModal" class="modal-body bg-dark p-4">
          <div class="text-center">
            <h4>Gracias por comunicarte con nosotros</h4>
            <p>
              Tu mensaje se envió exitosamente, en breve nos contactaremos
              contigo.
            </p>
          </div>
        </div>
        <div *ngIf="principalModal" class="modal-body bg-dark p-4">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Nombres Completos:</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="name"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Número de contacto:</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="contact"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Correo Electronico:</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="nombre@gmail.com"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="service" class="form-label"
              >En que servicio estarías interesado:</label
            >
            <select
              formControlName="service"
              class="form-select"
              aria-label="Default select example"
            >
              <option *ngFor="let data of Services" [value]="data.id">
                {{ data.value }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Comentanos tu idea:
            </label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              formControlName="message"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer bg-dark">
          <label class="text-center" *ngIf="formValidator"
            >Complete los campos correctamente</label
          >
          <button
            *ngIf="ocultButton"
            id="sendButton"
            type="submit"
            class="btn btn-primary btn-lg"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
