<div class="container">
  <div id="Etereo" class="card mt-5">
    <div class="row g-0">
      <div class="col-sm-6">
        <img
          src="../../../../assets/images/ourteam/our-team.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-sm-6">
        <div class="card-body">
          <h1 class="card-title text-center">
            NUESTRO EQUIPO DE SOPORTE ES TU EQUIPO
          </h1>
          <p class="card-text mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nam
            dolore. Odit aspernatur provident beatae quia officiis! Veritatis
            corrupti sed quae eaque laborum possimus, rerum, asperiores, fugiat
            ut qui ullam. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Esse fugiat consectetur sit dolorem voluptatum deleniti quae
            molestias nulla impedit molestiae! Culpa distinctio at dolore nemo
            itaque ipsa consequuntur? Alias, necessitatibus!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center pt-5">
  <div class="row g-0">
    <div class="col-sm-6 bg-black p-4 text-white">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos,
        assumenda. Cum accusantium velit quibusdam maiores similique repellendus
        repellat cupiditate assumenda quos unde delectus iure amet voluptatem,
        quasi non dolorem sunt. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Sequi ipsa quo expedita obcaecati sed mollitia sunt,
        illo aspernatur, modi soluta ullam veritatis incidunt molestiae omnis,
        tenetur voluptatum enim nihil id!
      </p>
    </div>
    <div class="col-sm-6">
      <img
        src="../../../../assets/images/aboutus/aboutus.jpg"
        class="float-end"
      />
    </div>
  </div>
</div>
