<section class="container text-center pt-5">
  <article class="row g-0">
    <span class="col-sm-6 bg-black p-4 text-white">
      <p class="mt-5">
        Etéreo esta conformado por un equipo de trabajo joven, sin embargo
        contamos con la experiencia suficiente para afrontar cualquier reto o
        necesidad del mercado que nos rodea, siendo capaces de detectar las
        verdaderas necesidades de cada cliente y ofrecerles una solucion acorde
        a su situación trabajando en conjunto durante todo el proceso, brindando
        un trabajo transparente y de calidad ofreciendo de esta manera un
        servicio cercano encontrandonos en total compromiso con nuestros
        clientes, creando asi un equipo solido de profesionales.
      </p>
    </span>
    <div class="col-sm-6">
      <img
        src="../../../../assets/images/ourteam/our-team.webp"
        class="float-end"
        alt="aboutUs"
      />
    </div>
  </article>
</section>
