<div class="container text-left pt-5">
  <div class="row">
    <div class="col-sm-5">
      <img
        src="../../../../assets/images/ourteam/our-team.jpg"
        class="img-fluid float-start rounded"
        alt="..."
      />
    </div>
    <div class="col-sm-7">
      <h1>NUESTRO EQUIPO DE SOPORTE ES TU EQUIPO</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus dolores
        facere, aut culpa eum illo recusandae alias! Praesentium facilis
        expedita vel asperiores mollitia fuga enim, natus dicta temporibus
        ratione non. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Accusantium nostrum soluta impedit rem sed tenetur, ut et modi adipisci
        ea aspernatur aliquam quo labore porro enim, tempore ab, aperiam
        perferendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Beatae minima assumenda repudiandae. Dignissimos voluptate doloribus
        excepturi perspiciatis magni expedita. Corrupti aliquam ipsa iusto
        nostrum obcaecati ut dolore? Molestiae, ipsam id!
      </p>
    </div>
  </div>
</div>
<div class="container text-center pt-5">
  <div class="row g-0">
    <div class="col-sm-6 bg-black p-4 text-white rounded">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos,
        assumenda. Cum accusantium velit quibusdam maiores similique repellendus
        repellat cupiditate assumenda quos unde delectus iure amet voluptatem,
        quasi non dolorem sunt. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Sequi ipsa quo expedita obcaecati sed mollitia sunt,
        illo aspernatur, modi soluta ullam veritatis incidunt molestiae omnis,
        tenetur voluptatum enim nihil id!
      </p>
    </div>
    <div class="col-sm-6">
      <img
        src="../../../../assets/images/aboutus/aboutus.jpg"
        class="img-fluid float-end rounded"
      />
    </div>
  </div>
</div>
