<div class="services-container">
    <div class="services-title">
        <h1>NUESTROS SERVICIOS</h1>
    </div>
    <div class="services-content">
        <div class="services-card-container">
            <div class="services-card">
                <div class="services-card-img">
                    <img src="../../../../assets/images/ourservices/webdevelop.jpg">
                </div>
                <div class="services-card-description">
                    <h2>DESARROLLO WEB</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis dolorem facere repellat doloribus animi maxime cumque beatae eaque eligendi velit quaerat adipisci iure aliquam labore, molestiae quam libero! Dolorem!</p>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-img">
                    <img src="../../../../assets/images/ourservices/ecommerce.jpg">
                </div>
                <div class="services-card-description">
                    <h2>E-COMMERCE</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis dolorem facere repellat doloribus animi maxime cumque beatae eaque eligendi velit quaerat adipisci iure aliquam labore, molestiae quam libero! Dolorem!</p>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-img">
                    <img src="./../../../../assets/images/ourservices/chatbot.jpg">
                </div>
                <div class="services-card-description">
                    <h2>CHATBOT</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis dolorem facere repellat doloribus animi maxime cumque beatae eaque eligendi velit quaerat adipisci iure aliquam labore, molestiae quam libero! Dolorem!</p>
                </div>
            </div>
        </div>
        <div class="services-card-container">
            <div class="services-card">
                <div class="services-card-img">
                    <img src="./../../../../assets/images/ourservices/mobileapp.jpg">
                </div>
                <div class="services-card-description">
                    <h2>APLICACION MOVIL</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis dolorem facere repellat doloribus animi maxime cumque beatae eaque eligendi velit quaerat adipisci iure aliquam labore, molestiae quam libero! Dolorem!</p>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-img">
                    <img src="./../../../../assets/images/ourservices/webpage.jpg">
                </div>
                <div class="services-card-description">
                    <h2>PAGINA WEB</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis dolorem facere repellat doloribus animi maxime cumque beatae eaque eligendi velit quaerat adipisci iure aliquam labore, molestiae quam libero! Dolorem!</p>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-img">
                    <img src="./../../../../assets/images/ourservices/webdevelop.jpg">
                </div>
                <div class="services-card-description">
                    <h2>SERVICIOS</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis dolorem facere repellat doloribus animi maxime cumque beatae eaque eligendi velit quaerat adipisci iure aliquam labore, molestiae quam libero! Dolorem!</p>
                </div>
            </div>
        </div>
    </div>
</div>