.services-container{
   width: 100%;
   height: 140vh;
   display: flex;
   flex-direction: column;
}

.services-title{
   width: 90%;
   height: 10vh;
   margin: 2vh 5% 2vh 5%;
   text-align: center;
}

.services-title h1{
   font-size: 2.5em;

   margin-top: 3%;
}

.services-content{
   width: 100%;
   height: 100vh;
}

.services-card-container{
   width: 100%;
   height: 65vh;
   display: flex;
   flex-direction: row;   
   justify-content: space-around;
}

.services-card{
   width: 30%;
   height: 55vh;
   display: flex;
   flex-direction: column;
   margin-top: 2.5vh;
   background-color: #3EA7A4;
   border-radius: 5%;
}

.services-card-img{
   width: 100%;
   height: 30vh;
}

.services-card-img img{
   width: 100%;
   height: 30vh;
   border-radius: 5%;
}

.services-card-description{
   width: 100%;
   height: 25vh;
   text-align: center;
}

.services-card-description h2{
   width: 100%;
   height: 3.5vh;
   margin: 0%;
   padding: 2%;
   font-size: 1.5em;

   color: white;
}

.services-card-description p{
   width: 100%;
   height: 21.5vh;
   margin: 0%;
   font-size: 0.8em;

   color: white;
   padding: 5%;
   text-align: justify;

}
/* 
@media screen and (max-width: 1000px){
   .services-container{
      width: 100%;
      height: 110vh;
      display: flex;
      flex-direction: column;
   }

   .services-title{
      width: 90%;
      height: 6vh;
      margin: 1vh 5% 1vh 5%;
      text-align: center;
   }

   .services-title h1{
      font-size: 2em;
   
      margin: auto;
   }

   .services-content{
      width: 100%;
      height: 100vh;
   }
   
   .services-card-container{
      width: 90%;
      height: 45vh;
      margin: 2.5vh 5% 2.5vh 5%;
      display: flex;
      flex-direction: row;   
      justify-content: space-around;
   }
   
   .services-card{
      width: 30%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      margin-top: 2.5vh;
      background-color: #3EA7A4;
      border-radius: 5%;
   }
   
   .services-card-img{
      width: 100%;
      height: 18vh;
   }
   
   .services-card-img img{
      width: 100%;
      height: 18vh;
      border-radius: 5%;
   }
   
   .services-card-description{
      width: 100%;
      height: 20vh;
      text-align: center;
   }
   
   .services-card-description h2{
      width: 100%;
      height: 3.5vh;
      margin: 0%;
      padding: 0%;
      font-size: 1em;
   
      color: white;
   }
   
   .services-card-description p{
      width: 100%;
      height: 14vh;
      margin: 0%;
      font-size: 0.7em;
   
      color: white;
   }
}

@media screen and (max-width: 700px){
   .services-container{
      width: 100%;
      height: 110vh;
      display: flex;
      flex-direction: column;
   }

   .services-title{
      width: 90%;
      height: 6vh;
      margin: 1vh 5% 1vh 5%;
      text-align: center;
   }

   .services-title h1{
      font-size: 2em;
   
      margin: auto;
   }

   .services-content{
      width: 100%;
      height: 100vh;
   }
   
   .services-card-container{
      width: 90%;
      height: 45vh;
      margin: 2.5vh 5% 2.5vh 5%;
      display: flex;
      flex-direction: row;   
      justify-content: space-around;
   }
   
   .services-card{
      width: 30%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      margin-top: 2.5vh;
      background-color: #3EA7A4;
      border-radius: 5%;
   }
   
   .services-card-img{
      width: 100%;
      height: 18vh;
   }
   
   .services-card-img img{
      width: 100%;
      height: 18vh;
      border-radius: 5%;
   }
   
   .services-card-description{
      width: 100%;
      height: 20vh;
      text-align: center;
   }
   
   .services-card-description h2{
      width: 100%;
      height: 3.5vh;
      margin: 0%;
      padding: 0%;
      font-size: 0.8em;
   
      color: white;
   }
   
   .services-card-description p{
      width: 100%;
      height: 14vh;
      margin: 0%;
      font-size: 0.6em;
   
      color: white;
   }
}

@media screen and (max-width: 450px){
   .services-container{
      width: 100%;
      height: 65vh;
      display: flex;
      flex-direction: column;
   }

   .services-title{
      width: 90%;
      height: 5vh;
      margin: 1vh 5% 1vh 5%;
      text-align: center;
   }

   .services-title h1{
      font-size: 1.5em;
   
      margin: auto;
   }

   .services-content{
      width: 100%;
      height: 60vh;
   }
   
   .services-card-container{
      width: 95%;
      height: 27vh;
      margin: 1vh 2.5% 1vh 2.5%;
      display: flex;
      flex-direction: row;   
      justify-content: space-around;
   }
   
   .services-card{
      width: 25%;
      height: 25vh;
      display: flex;
      flex-direction: column;
      margin-top: 2.5vh;
      background-color: #3EA7A4;
      border-radius: 5%;
   }
   
   .services-card-img{
      width: 100%;
      height: 12.5vh;
   }
   
   .services-card-img img{
      width: 100%;
      height: 12.5vh;
      border-radius: 5%;
   }
   
   .services-card-description{
      width: 100%;
      height: 17.5vh;
      text-align: center;
   }
   
   .services-card-description h2{
      width: 100%;
      height: 3.5vh;
      margin: 0%;
      padding: 0%;
      font-size: 0.6em;
   
      color: white;
   }
   
   .services-card-description p{
      width: 100%;
      height: 14vh;
      margin: 0%;
      font-size: 0.3em;
   
      color: white;
   }
} */