<div id="Servicios" class="container">
  <h1 class="text-center">NUESTROS SERVICIOS</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/images/ourservices/web-page.jpg"
          class="img-fluid card-img-top rounded"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">APLICACIÓN WEB</h5>
          <p class="card-text text-center">
            Alcanza los niveles más altos de orquestación diseñando y
            desarrollando aplicaciones basadas en el framework común más
            adecuado para ti y reutilizando componentes para obtener más valor
            de tus propias aplicaciones.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="img"
          src="../../../../assets/images/ourservices/ecommerce.jpg"
          class="img-fluid card-img-top rounded"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">E-COMMERCE</h5>
          <p class="card-text text-center">
            Ofrecemos servicios de extremo a extremo para transformar la forma
            en que las empresas interactúan, realizan transacciones y atienden a
            sus clientes en el panorama multicanal actual. Estamos ayudando a
            las empresas en el cambiante mundo de las compras reuniendo los
            conocimientos, la experiencia, la escala y el vigor adecuados para
            ayudar a nuestros clientes a adaptarse a las demandas de los
            clientes que cambian rápidamente en el espacio de comercio
            omnicanal.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="./../../../../assets/images/ourservices/chatbot.jpg"
          class="img-fluid card-img-top rounded"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">CHATBOT</h5>
          <p class="card-text text-center">
            Implementamos chatbots personalizados los cuales son agentes
            conversacionales que tienen una base de conocimientos, hacen uso de
            la inteligencia artificial e interactúan con los seres humanos
            quienes utilizan un leguaje natural durante una sesión de chat.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="./../../../../assets/images/ourservices/app-movil.jpg"
          class="img-fluid card-img-top rounded"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">APLICACION MOVIL</h5>
          <p class="card-text text-center">
            A través del desarrollo de aplicaciones móviles personalizadas,
            puede proporcionar la experiencia tecnológica moderna e innovadora
            que buscan sus clientes, al igual que le ayudamos a crear la
            solución adecuada para aportar un mayor valor a su negocio.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="./../../../../assets/images/ourservices/landingpage.jpg"
          class="img-fluid card-img-top rounded"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">LANDING PAGE</h5>
          <p class="card-text text-center">
            La creación de una pagina sirve como una cara a tus futuros
            clientes, ayuda a las empresas a construir relaciones más profundas
            con los clientes mediante la entrega de experiencias personalizadas.
            Permitimos que las empresas logren esto mediante la entrega de
            contenido relevante, la toma de decisiones basada en información y
            la gestión de campañas hiperpersonalizada, lo que resulta en una
            mejor participación en la cartera del cliente.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/images/ourservices/services.jpg"
          class="img-fluid card-img-top rounded"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">SERVICIOS TI</h5>
          <p class="card-text text-center">
            Ser una alternativa de solución para nuestros clientes ante un
            incremento de carga laboral que les genere un overflow en su actual
            capacidad instalada. Con este servicio, nuestros clientes podrán
            evitar la postergación de atención de proyectos por falta de
            personal especializado. Estas situaciones de incremento de carga
            laboral comúnmente son por un lapso tiempo, por ende, no
            justificaría para nuestros clientes la contratación directa de
            personal.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
