<div id="Servicios" class="container">
  <h2 class="text-center fw-bold">NUESTROS SERVICIOS</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/images/ourservices/web-page.webp"
          class="img-fluid card-img-top rounded"
          alt="webPage"
        />
        <div class="card-body">
          <h3 class="card-title text-center">APLICACIÓN WEB</h3>
          <p class="card-text text-center">
            Alcanza los niveles más altos de orquestación diseñando y
            desarrollando aplicaciones basadas en el framework común más
            adecuado para ti y reutilizando componentes para obtener más valor
            de tus propias aplicaciones.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="img"
          src="../../../../assets/images/ourservices/ecommerce.webp"
          class="img-fluid card-img-top rounded"
          alt="ecommerce"
        />
        <div class="card-body">
          <h3 class="card-title text-center">E-COMMERCE</h3>
          <p class="card-text text-center">
            Estamos ayudando a las empresas en el cambiante mundo de las compras
            ofreciendo servicios de extremo a extremo para transformar la forma
            en que las empresas interactúan para ayudar a nuestros clientes a adaptarse a 
            las demandas de los clientes.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/images/ourservices/chatbot.webp"
          class="img-fluid card-img-top rounded"
          alt="chatbot"
        />
        <div class="card-body">
          <h3 class="card-title text-center">CHATBOT</h3>
          <p class="card-text text-center">
            Implementamos chatbots personalizados los cuales son agentes
            conversacionales que tienen una base de conocimientos, hacen uso de
            la inteligencia artificial e interactúan con los seres humanos
            quienes utilizan un leguaje natural durante una sesión de chat.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/images/ourservices/app-movil.webp"
          class="img-fluid card-img-top rounded"
          alt="appMovil"
        />
        <div class="card-body">
          <h3 class="card-title text-center">APLICACION MOVIL</h3>
          <p class="card-text text-center">
            A través del desarrollo de aplicaciones móviles personalizadas,
            puede proporcionar la experiencia tecnológica moderna e innovadora
            que buscan sus clientes, al igual que le ayudamos a crear la
            solución adecuada para aportar un mayor valor a su negocio.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/images/ourservices/landingpage.webp"
          class="img-fluid card-img-top rounded"
          alt="landingPage"
        />
        <div class="card-body">
          <h3 class="card-title text-center">LANDING PAGE</h3>
          <p class="card-text text-center">
            La creación de una pagina sirve como una cara a tus futuros
            clientes ayudada mediante la entrega de experiencias personalizadas.
            Permitimos que las empresas logren esto mediante la toma de decisiones basada en información  
            lo que resulta en una mejor participación en la cartera del cliente.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/images/ourservices/services.webp"
          class="img-fluid card-img-top rounded"
          alt="services"
        />
        <div class="card-body">
          <h3 class="card-title text-center">SERVICIOS TI</h3>
          <p class="card-text text-center">
            Ser una alternativa de solución para nuestros clientes ante un
            incremento de carga laboral que les genere un overflow en su actual
            capacidad instalada. Estas situaciones de incremento de carga
            laboral comúnmente son por un lapso tiempo, no
            justificaría para nuestros clientes la contratación directa de
            personal.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
