.social-icon {
  height: 72px;
  width: 72px;
}

.nav-enlace {
  text-decoration: none;
}

.logo-footer {
  height: 80px;
}

@media only screen and (max-width: 450px) {
  .logo-footer {
    height: 60px;
    justify-content: center !important;
  }
  .logo-container {
    width: 100%;
    justify-content: center !important;
  }
  .social-icon {
    height: 28px;
    width: 28px;
  }
  .email-footer {
    margin-top: 7px;
    font-size: 13px;
  }
  .email-footer p {
    margin-bottom: 8px;
  }
}

/* 


.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background-color: black;
}

.email-container{
    width: 25%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}

.email-container-title{
    width: 25%;
    height: 4vh;
    margin-top: 1.5vh;
}

.email-container-title p{
    color: white;
    font-size: 2em;
    
}

.email-container-email{
    width: 75%;
    height: 4vh;
    margin-top: 1.8vh;
}

.email-container-email a{
    color: white;
    font-size: 1.8em;
    
    text-decoration: none;
}

.social-container{
    width: 25%;
    height: 8vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 1vh;
}

.logo-container{
    width: 25%;
    height: 8vh;
    margin-top: 1vh;
}

.etereo{
    width: 80%;
    height: 8vh;
    margin-left: 20%;
} */
/* 
@media screen and (max-width: 1750px){
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: black;
    }
    
    .email-container{
        width: 25%;
        height: 8vh;
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
    }
    
    .email-container-title{
        width: 25%;
        height: 4vh;
        margin-top: 2vh;
    }
    
    .email-container-title p{
        color: white;
        font-size: 1.8em;
        
    }
    
    .email-container-email{
        width: 75%;
        height: 4vh;
        margin-top: 2vh;
    }
    
    .email-container-email a{
        color: white;
        font-size: 1.8em;
        
        text-decoration: none;
    }
    
    .social-container{
        width: 25%;
        height: 8vh;
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 1vh;
    }
    
    .logo-container{
        width: 25%;
        height: 8vh;
        margin-top: 1vh;
    }
    
    .etereo{
        width: 100%;
        height: 8vh;
    }
}

@media screen and (max-width: 1550px){
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: black;
    }
    
    .email-container{
        width: 25%;
        height: 8vh;
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
    }
    
    .email-container-title{
        width: 25%;
        height: 4vh;
        margin-top: 2vh;
    }
    
    .email-container-title p{
        color: white;
        font-size: 1.5em;
        
    }
    
    .email-container-email{
        width: 75%;
        height: 4vh;
        margin-top: 2vh;
    }
    
    .email-container-email a{
        color: white;
        font-size: 1.5em;
        
        text-decoration: none;
    }
    
    .social-container{
        width: 25%;
        height: 8vh;
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 1vh;
    }
    
    .logo-container{
        width: 25%;
        height: 8vh;
        margin-top: 1vh;
    }
    
    .etereo{
        width: 100%;
        height: 8vh;
    }
}

@media screen and (max-width: 1300px){
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: black;
    }
    
    .email-container{
        width: 25%;
        height: 8vh;
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
    }
    
    .email-container-title{
        width: 25%;
        height: 4vh;
        margin-top: 2vh;
    }
    
    .email-container-title p{
        color: white;
        font-size: 1.2em;
        
    }
    
    .email-container-email{
        width: 75%;
        height: 4vh;
        margin-top: 2vh;
    }
    
    .email-container-email a{
        color: white;
        font-size: 1.2em;
        
        text-decoration: none;
    }
    
    .social-container{
        width: 25%;
        height: 8vh;
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 1vh;
    }
    
    .logo-container{
        width: 25%;
        height: 8vh;
        margin-top: 1vh;
    }
    
    .etereo{
        width: 100%;
        height: 8vh;
    }
}

@media screen and (max-width: 1000px){
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: black;
    }

    .email-container{
        width: 25%;
        height: 8vh;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    .email-container-title{
        width: 100%;
        height: 4vh;
        margin: 0%;
        margin-top: 1vh;
    }

    .email-container-title p{
        color: white;
        font-size: 1.5em;
        
    }

    .email-container-email{
        width: 100%;
        height: 4vh;
        margin: 0%;
    }

    .email-container-email a{
        color: white;
        font-size: 1.5em;
        
        text-decoration: none;
        margin: 0%;
    }

    .social-container{
        width: 25%;
        height: 8vh;
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 1vh;
    }

    .logo-container{
        width: 25%;
        height: 8vh;
    }

    .etereo{
        width: 100%;
        height: 8vh;
        margin: 0%;
    }
}

@media screen and (max-width: 800px){
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 7vh;
        background-color: black;
    }

    .email-container{
        width: 25%;
        height: 7vh;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    .email-container-title{
        width: 100%;
        height: 2vh;
        margin: 0%;
        margin-top: 1vh;
    }

    .email-container-title p{
        color: white;
        font-size: 1.2em;
        
    }

    .email-container-email{
        width: 100%;
        height: 3vh;
        margin: 0%;
    }

    .email-container-email a{
        color: white;
        font-size: 1.1em;
        
        text-decoration: none;
        margin: 0%;
    }

    .social-container{
        width: 25%;
        height: 5vh;
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 1vh;
    }

    .logo-container{
        width: 25%;
        height: 5vh;
    }

    .etereo{
        width: 100%;
        height: 5vh;
        margin: 0%;
    }
}

@media screen and (max-width: 600px){
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 7vh;
        background-color: black;
    }

    .email-container{
        width: 25%;
        height: 7vh;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    .email-container-title{
        width: 100%;
        height: 2vh;
        margin: 0%;
        margin-top: 1vh;
    }

    .email-container-title p{
        color: white;
        font-size: 1em;
        
    }

    .email-container-email{
        width: 100%;
        height: 3vh;
        margin: 0%;
    }

    .email-container-email a{
        color: white;
        font-size: 0.9em;
        
        text-decoration: none;
        margin: 0%;
    }

    .social-container{
        width: 25%;
        height: 5vh;
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 1vh;
    }

    .logo-container{
        width: 25%;
        height: 5vh;
    }

    .etereo{
        width: 100%;
        height: 5vh;
        margin: 0%;
    }
}

@media screen and (max-width: 500px){
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 7vh;
        background-color: black;
    }

    .email-container{
        width: 25%;
        height: 7vh;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    .email-container-title{
        width: 100%;
        height: 2vh;
        margin: 0%;
        margin-top: 1vh;
    }

    .email-container-title p{
        color: white;
        font-size: 0.8em;
        
    }

    .email-container-email{
        width: 100%;
        height: 3vh;
        margin: 0%;
    }

    .email-container-email a{
        color: white;
        font-size: 0.6em;
        
        text-decoration: none;
        margin: 0%;
    }

    .social-container{
        width: 25%;
        height: 5vh;
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 1vh;
    }

    .logo-container{
        width: 25%;
        height: 5vh;
    }

    .etereo{
        width: 100%;
        height: 5vh;
        margin: 0%;
    }
} */
