.social-icon {
  height: 72px;
  width: 72px;
}

.nav-enlace {
  text-decoration: none;
}

.logo-footer {
  height: 80px;
}

@media only screen and (max-width: 450px) {
  .logo-footer {
    height: 60px;
    justify-content: center !important;
    margin-top: 20px;
  }
  .logo-container {
    width: 100%;
    justify-content: center !important;
  }
  .social-icon {
    height: 32px;
    width: 32px;
  }
  .email-footer {
    margin-top: 7px;
    font-size: 13px;
  }
  .email-footer p {
    margin-bottom: 8px;
  }
  .container-footer{
    margin-bottom: 0px;
  }
}
