<div class="footer-container">
    <div class="contact-container">
        <div class="email-container">
            <div class="title">
                <p> Correo: </p>
            </div>
            <div class="email">
                <a href="#" class="nav-enlace"> etéreoit@support.com</a>  
            </div>
        </div>
        <div class="social-container">
            <img src="../../../assets/images/footer/linkd.png">
            <img src="../../../assets/images/footer/instagram.png">
            <img src="../../../assets/images/footer/twitter.png">
            <img src="../../../assets/images/footer/facebook.png">
        </div>
    </div>
    <div class="logo-container">
        <div class="space">

        </div>
        <div class="logo">
            <img src="../../../assets/images/footer/lgsfblncoslg.png" class="etereo">
        </div>
    </div>  
</div>