<div class="footer-container">
    <div class="contact-container">
        <div class="email-container">
            <div class="title">
                <a href="#" class="nav-enlace"> Correo</a>
            </div>
            <div class="email">
                <a href="#" class="nav-enlace"> etéreoit@support.com</a>  
            </div>
        </div>
        
        <div class="social-container">
            <img src="linkd.png">
            <img src="instagram.png">
            <img src="twitter.png">
            <img src="facebook.png">
        </div>
    </div>
    <div class="logo-container">
        <div class="space">

        </div>
        <div class="logo">
            <img src="lgsfblncoslg.png" class="etereo">
        </div>
       
    </div>  
</div>