<!-- <div class="footer-container">
  <div class="email-container">
    <div class="email-container-title">
      <p>Correo:</p>
    </div>
    <div class="email-container-email">
      <a href="#" class="nav-enlace"> contacto@etereo-it.com</a>
    </div>
  </div>
  <div class="social-container">
    <img src="../../../assets/images/footer/linkd.png" />
    <img src="../../../assets/images/footer/instagram.png" />
    <img src="../../../assets/images/footer/twitter.png" />
    <img src="../../../assets/images/footer/facebook.png" />
  </div>
  <div class="logo-container">
    <img src="../../../assets/images/footer/lgsfblncoslg.png" class="etereo" />
  </div>
</div> -->

<div
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark text-white"
>
  <div
    class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark text-white"
  >
    <div class="col-md-4 email-footer">
      <p>
        Email:
        <a href="mailto:contacto@etereo-it.com" class="nav-enlace">
          contacto@etereo-it.com</a
        >
      </p>
    </div>
    <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
      <li>
        <img
          src="../../../assets/images/footer/linkd.png"
          class="social-icon img-fluid"
        />
      </li>
      <li>
        <img
          href="https://www.instagram.com/etereoit.solutions/"
          src="../../../assets/images/footer/instagram.png"
          class="social-icon img-fluid"
        />
      </li>
      <li>
        <img
          src="../../../assets/images/footer/twitter.png"
          class="social-icon img-fluid"
        />
      </li>
      <li>
        <img
          href="https://www.facebook.com/profile.php?id=100090755867525"
          src="../../../assets/images/footer/facebook.png"
          class="social-icon img-fluid"
        />
      </li>
    </ul>
    <div class="col-md-4 d-flex justify-content-end logo-container">
      <img
        src="../../../assets/images/footer/lgsfblncoslg.png"
        class="img-fluid logo-footer d-flex justify-content-end"
      />
    </div>
  </div>
</div>
