<div class="header-container">
    <div class="header-logo">
            <img src="../../../assets/images/header/logo.png">
    </div>
    <div class="header-links">
            <div class="div-link">
                <a class="link" href="#Inicio">INICIO</a>
            </div>
            <div class="divz-link">
                <a class="link" href="#Tecnologia">TECNOLOGIAS</a>
            </div>
            <div class="div-link">
                <a class="link" href="#Servicios">SERVICIOS</a>
            </div>
            <div class="div-link">
                <a class="link" href="#Etereo">ETEREO</a>
            </div>
    </div>
</div>