
.header-logo{    
    cursor: pointer;
}

.header-logo img{
    height: 80px;
}

/* .navbar {
    position: fixed;
    background-color: #fff;

} */
nav .navbar-nav li a{
    color: #000 !important;
}

@media only screen and (max-width: 450px)  {
    .header-logo img{
        height: 60px;
    }
    .container-fluid{
        margin-left: 0px;
        padding-left: 0px;
    }
}