.navbar {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
}
.header-logo {
  cursor: pointer;
}

.header-logo img {
  height: 80px;
}
.nav-link {
  position: relative;
}
.nav-link:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.nav-link:hover:after {
  width: 100%;
  right: 0;
}
nav .navbar-nav li a {
  color: #000 !important;
}

@media only screen and (max-width: 450px) {
  .header-logo img {
    height: 60px;
  }
  .container-fluid {
    margin-left: 0px;
    padding-left: 0px;
  }
}

/* modal css */

.modal-header {
  color: #fff;
}

.modal-header button {
  color: #fff;
}

.modal-body {
  color: #fff;
}

.modal-footer button {
  background-color: #3ea7a4;
  border-color: #318582;
}

.modal-footer label {
  color: red;
}

@media only screen and (max-width: 450px) {
  .item-label {
    display: none;
  }
  #modal-button {
    width: 20vw;
    padding: 0px;
    font-size: 35px !important;
  }
}
