<div class="header-container">
    <div class="header-rigth-part">
        <div class="header-logo">
            <img src="../../../assets/images/header/logo.png">
        </div>
    </div>
    <div class="header-left-part">
        <div class="header-links">
            <div class="div-link">
                <a class="link" href="#Inicio">INICIO</a>
            </div>
            <div class="div-link">
                <a class="link" href="#Nosotros">NOSOTROS</a>
            </div>
            <div class="div-link">
                <a class="link" href="#Tecnologia">TECNOLOGIAS</a>
            </div>
            <div class="div-link">
                <a class="link" href="#Contactanos">CONTACTANOS</a>
            </div>
        </div>
    </div>
</div>