<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-brand header-logo">
      <a href="#">
        <img
          src="../../../assets/images/header/logo-black.webp"
          class="img-fluid"
          alt=".."
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item m-2">
          <a class="nav-link active fs-5 fw-bolder" aria-current="page" href="#"
            >INICIO</a
          >
        </li>
        <li class="nav-item m-2">
          <a
            class="nav-link active fs-5 fw-bolder"
            aria-current="page"
            href="#Tecnologia"
            >TECNOLOGÍAS</a
          >
        </li>
        <li class="nav-item m-2">
          <a
            class="nav-link active fs-5 fw-bolder"
            aria-current="page"
            href="#Servicios"
            >SERVICIOS</a
          >
        </li>
        <li class="nav-item m-2">
          <button
            type="button"
            id="modal-button"
            class="btn py-1 rounded-2"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="far fa-regular fa-address-book fs-5"></i>
            <span class="item-label active fs-5 fw-bolder"
              >&nbsp; CONTACTO</span
            >
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center bg-dark">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ textTitle }}
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cleanForm()"
        ></button>
      </div>
      <form [formGroup]="registerForm" (submit)="sendEmail()">
        <div *ngIf="finalModal" class="modal-body bg-dark p-4">
          <div class="text-center">
            <h4>Gracias por comunicarte con nosotros</h4>
            <p>
              Tu mensaje se envió exitosamente, en breve nos contactaremos
              contigo.
            </p>
          </div>
        </div>
        <div *ngIf="principalModal" class="modal-body bg-dark p-4">
          <div class="mb-3">
            <label for="exampleFormControlInputname" class="form-label"
              >Nombres Completos:</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInputname"
              formControlName="name"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInputcontact" class="form-label"
              >Número de contacto:</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInputcontact"
              formControlName="contact"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInputemail" class="form-label"
              >Correo Electronico:</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInputemail"
              placeholder="nombre@gmail.com"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="service" class="form-label"
              >En que servicio estarías interesado:</label
            >
            <select
              formControlName="service"
              class="form-select"
              aria-label="Default select example"
            >
              <option *ngFor="let data of Services" [value]="data.id">
                {{ data.value }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextareamessage" class="form-label"
              >Comentanos tu idea:
            </label>
            <textarea
              class="form-control"
              id="exampleFormControlTextareamessage"
              rows="3"
              formControlName="message"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer bg-dark">
          <label class="text-center" *ngIf="formValidator"
            >Complete los campos correctamente</label
          >
          <button
            *ngIf="ocultButton"
            id="sendButton"
            type="submit"
            class="btn btn-primary btn-lg"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
