<div class="about-container">
    <div class="banner-container">
        <div class="banner-background">
            <img src="../../../../assets/images/aboutus/banner.jpg">
        </div>
        <div class="banner-text-container" id="temp">
            <div class="banner-title">
                <h3> ETEREO TI</h3>
            </div>
            <div class="banner-subtitle">
                <h4> SOFTWARE SOLUTIONS</h4>
            </div>
            <div class="banner-p">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium pariatur tempore blanditiis? Tenetur autem cumque distinctio? Iure consectetur illum amet laudantium odio, perferendis cum delectus illo libero nesciunt nam maxime?
                </p>
            </div>
        </div>       
    </div>
    <div class="choose-container">
        <div class="choose-title">
            <h1>¿Por qué elegirnos?</h1>
        </div>
        <div class="choose-subtitle">
            <h2>Lo mejor en soluciones tecnológicas para tu empresa</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eius, quae quibusdam fuga adipisci, deserunt consequuntur fugit alias numquam animi quas iure ex praesentium pariatur dignissimos delectus tenetur corrupti tempora.
            </p>
        </div>
        <div class="choose-options">
                <div class="option">
                    <div class="option-img">
                        <img src="../../../../assets/images/aboutus/velocidad.png">
                    </div>
                    <div class="option-description">
                        <h2>Velocidad</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste saepe unde id sequi aut dolor hic asperiores fugiat enim repellat aperiam rem tempora adipisci et, sunt repudiandae voluptate ducimus ipsa!</p>
                    </div>
                </div>
                <div class="option">
                    <div class="option-img">
                        <img src="../../../../assets/images/aboutus/seguridad.png">
                    </div>
                    <div class="option-description">
                        <h2>Seguridad</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste saepe unde id sequi aut dolor hic asperiores fugiat enim repellat aperiam rem tempora adipisci et, sunt repudiandae voluptate ducimus ipsa!</p>
                    </div>
                </div>
                <div class="option">
                    <div class="option-img">
                        <img src="../../../../assets/images/aboutus/soporte.jpg">
                    </div>
                    <div class="option-description">
                        <h2>Soporte</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste saepe unde id sequi aut dolor hic asperiores fugiat enim repellat aperiam rem tempora adipisci et, sunt repudiandae voluptate ducimus ipsa!</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="end-container">
        <div class="text-container">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, assumenda. Cum accusantium velit quibusdam maiores similique repellendus repellat cupiditate assumenda quos unde delectus iure amet voluptatem, quasi non dolorem sunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsa quo expedita obcaecati sed mollitia sunt, illo aspernatur, modi soluta ullam veritatis incidunt molestiae omnis, tenetur voluptatum enim nihil id!
            </p>
        </div>
        <div class="reu-container">
            <img src="../../../../assets/images/aboutus/reu.jpg">
        </div>
    </div>
</div>
