<div class="banner-container">
  <img
    class="img-fluid"
    src="{{ home }}"
    alt=""
  />
  <div class="banner-text" id="BannerText">
    <h1 class="fw-bold">ETEREO IT</h1>
    <h4>SOFTWARE SOLUTIONS</h4>
    <p>Transformamos tu empresa diseñando soluciones a medida</p>
  </div>
</div>
<div class="container">
  <h2 class="text-center mt-4 fs-1 fw-bold">¿Por qué elegirnos?</h2>
  <h3 class="text-center mt-2">
    Lo mejor en soluciones tecnológicas para tu empresa
  </h3>
  <p class="text-center mt-2">
    Desarrollamos productos flexibles, que se adapten a las necesidades de las
    organizaciones y a las tecnologías en constante evolución. Integramos
    nuestro conocimiento y el aprendizaje continuo para ofrecer una experiencia
    de excelencia a nuestros clientes, que cumplan con los requisitos
    comerciales y con altos estándares de calidad.
  </p>
  <div class="row mt-5">
    <div class="card col p-0 m-2 text-center">
      <img
        src="{{ iconSpeed }}"
        class="rounded img-fluid"
        alt="..."
      />
      <div class="card-body rounded p-5">
        <h5 class="card-title text-center fs-2">Velocidad</h5>
        <p class="card-text text-center">
          Al tener objetivos claros y alcanzarlos, nuestra gente posee el deseo
          inherente y la motivación de excederse interna y externamente para
          impulsar un cambio positivo.Nuestro impulso y valores fundamentales
          nos distinguen de la competencia.
        </p>
      </div>
    </div>
    <div class="card col p-0 m-2 text-center">
      <img
        src="{{ iconSecurity }}"
        class="rounded img-fluid"
        alt="..."
      />
      <div class="card-body rounded p-5">
        <h5 class="card-title text-center fs-2">Seguridad</h5>
        <p class="card-text">
          Nos comprometemos a garantizar la seguridad de los datos, servicios y
          aplicaciones de nuestros clientes, al tiempo que aseguramos el
          cumplimiento de nuestro sistema de información y el de nuestros
          clientes.
        </p>
      </div>
    </div>
    <div class="card col p-0 m-2 text-center">
      <img
        src="{{ iconSupport }}"
        class="rounded mx-auto d-block img-fluid"
        alt="..."
      />
      <div class="card-body rounded p-5">
        <h5 class="card-title text-center fs-2">Soporte</h5>
        <p class="card-text text-center">
          Tenemos la capacidad de adaptarnos y operar en una semana, nuestro
          servicio técnico proporciona soporte de Desktop, aplicaciones o
          dispositivos móviles a usuarios internos y externos.
        </p>
      </div>
    </div>
  </div>
</div>
